body {
    background-color: #f1f1f1;
}

div.verde {
    background-color: rgb(18, 141, 45);
    width: 425px;
    height: 220px;
    left: 470px;
    top: 225px;
    position: absolute;
}

.amarelo-top {
    width: 1px;
    height: 1px;
    border: solid 8.3em transparent;
    border-bottom: solid 5.3em rgb(255, 218, 10);
    border-top-width: 0;
    position: absolute;
    top: 250px;
    left: 550px;
}

.amarelo-bottom {
    width: 1px;
    height: 1px;
    border: solid 8.3em transparent;
    border-top: solid 5.3em rgb(255, 218, 10);
    border-bottom-width: 0;
    position: absolute;
    top: 335px;
    left: 550px;
}

div.azul {
    background-color: rgb(1, 25, 98);
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 100px;
    margin: 25px;
    left: 608px;
    top: 260px;
    overflow: hidden;
}

div.faixa {
    background: #FFF;
    border-radius: 50%;
    position: absolute;
    width: 15em;
    height: 15em;
    left: -5.4em;
    top: 2.0em;
}

.azul-baixo {
    width: 14em;
    height: 14em;
    background: rgb(1, 25, 98);
    border-radius: 50%;
    position: absolute;
    top: 2.6em;
    left: -4.9em;
}

p {
    color: white;
    position: absolute;
}

p#e1 {
    left: 60px;
    top: 22px;
    font-size: 6px;
}

p#e2 {
    left: 55px;
    top: 38px;
    font-size: 5px;
}

p#e3 {
    left: 6px;
    top: 40px;
    font-size: 6px;
}

p#e4 {
    left: 35px;
    top: 52px;
    font-size: 5px;
}

p#e5 {
    left: 10px;
    top: 65px;
    font-size: 4px;
}

p#e6 {
    left: 15px;
    top: 60px;
    font-size: 5px;
}

p#e7 {
    left: 22px;
    top: 60px;
    font-size: 3px;
}

p#e8 {
    left: 30px;
    top: 68px;
    font-size: 4px;
}

p#e9 {
    left: 27px;
    top: 75px;
    font-size: 3px;
}

p#e10 {
    left: 35px;
    top: 78px;
    font-size: 4px;
}

p#e11 {
    left: 51px;
    top: 55px;
    font-size: 5px;
}

p#e12 {
    left: 45px;
    top: 63px;
    font-size: 4px;
}

p#e13 {
    left: 58px;
    top: 61px;
    font-size: 5px;
}

p#e14 {
    left: 50px;
    top: 70px;
    font-size: 3px;
}

p#e15 {
    left: 52px;
    top: 75px;
    font-size: 5px;
}

p#e16 {
    left: 53px;
    top: 90px;
    font-size: 3px;
}

p#e17 {
    left: 58px;
    top: 79px;
    font-size: 3px;
}

p#e18 {
    left: 65px;
    top: 80px;
    font-size: 3px;
}

p#e19 {
    left: 62px;
    top: 83px;
    font-size: 4px;
}

p#e20 {
    left: 70px;
    top: 77px;
    font-size: 3px;
}

p#e21 {
    left: 69.6px;
    top: 80px;
    font-size: 3.5px;
}

p#e22 {
    left: 70px;
    top: 85px;
    font-size: 3px;
}

p#e23 {
    left: 75px;
    top: 78px;
    font-size: 3px;
}

p#e24 {
    left: 78px;
    top: 74px;
    font-size: 3.5px;
}

p#e25 {
    left: 82px;
    top: 69px;
    font-size: 3.5px;
}

p#e26 {
    left: 80px;
    top: 62px;
    font-size: 3.5px;
}

p#e27 {
    left: 89px;
    top: 62px;
    font-size: 3px;
}

p#ordem {
    color: darkgreen;
    transform: rotate(-5deg);
    font-size: 9px;
    top: 24px;
    left: 5px;
}

p#e {
    color: darkgreen;
    transform: rotate(5deg);
    font-size: 9px;
    top: 23px;
    left: 40.5px;
}

p#prog {
    color: darkgreen;
    transform: rotate(13deg);
    font-size: 9px;
    top: 26.5px;
    left: 49px;
}

p#resso {
    color: darkgreen;
    transform: rotate(26deg);
    font-size: 9px;
    top: 35.5px;
    left: 71.5px;
}